# Imports

In [1]:
import tensorflow as tf

# Dataset
import numpy as np
import pandas as pd

# # Utils
# from datetime import datetime

# Constants

In [2]:
# Model
learning_rate = 5e-2
optimizer = tf.keras.optimizers.Adam(learning_rate=learning_rate)
loss = tf.keras.losses.Huber()
metrics = ["mae", "mse"]
epochs = 1000

# Data split
test_split = 0.1                # Float or int
valid_split = 0.1               # Float
train_split = 1 - valid_split   # Float

# Dataset window
steps_size = 15               # minutes
predicts_size = 1             # minute(s)
window_size = steps_size + predicts_size
batch_size = 32
shuffle_buffer_size = 64

# Dataset frame
num_of_features = 6
num_of_labels = 2

# File
dataset_file = './dataset/user_1/user_1_data.csv'
model_1_file = './model/user_1/'
model_2_file = './model/...'

# Data

## Fetching

In [3]:
data = pd.read_csv(dataset_file)

data

            date      time  latitude   longitude
0       3/7/2022   0:00:00 -6.268917  106.780112
1       3/7/2022   0:01:00 -6.268917  106.780112
2       3/7/2022   0:02:00 -6.268917  106.780112
3       3/7/2022   0:03:00 -6.268917  106.780112
4       3/7/2022   0:04:00 -6.268917  106.780112
...          ...       ...       ...         ...
20155  3/20/2022  23:55:00 -6.268917  106.779552
20156  3/20/2022  23:56:00 -6.268917  106.779552
20157  3/20/2022  23:57:00 -6.268917  106.779552
20158  3/20/2022  23:58:00 -6.268917  106.779552
20159  3/20/2022  23:59:00 -6.268917  106.779552

[20160 rows x 4 columns]

## Preprocessing

In [4]:
# Converting date string to datetime
data["date"] = pd.to_datetime(data["date"])
data["day_of_week"] = data["date"].dt.day_of_week
data["month"] = data["date"].dt.month
data["year"] = data["date"].dt.year

# Converting time to cumulative minute
# source: https://stackoverflow.com/questions/17951820/convert-hhmmss-to-minutes-using-python-pandas
# credit: Andy Hayden
data["time"] = data["time"].str.split(':').apply(lambda time: int(time[0]) * 60 + int(time[1]))

# Removing unused column
del data["date"]

# Rearrange column
data = data[["year", "month", "day_of_week", "time", "latitude", "longitude"]]

data

       year  month  day_of_week  time  latitude   longitude
0      2022      3            0     0 -6.268917  106.780112
1      2022      3            0     1 -6.268917  106.780112
2      2022      3            0     2 -6.268917  106.780112
3      2022      3            0     3 -6.268917  106.780112
4      2022      3            0     4 -6.268917  106.780112
...     ...    ...          ...   ...       ...         ...
20155  2022      3            6  1435 -6.268917  106.779552
20156  2022      3            6  1436 -6.268917  106.779552
20157  2022      3            6  1437 -6.268917  106.779552
20158  2022      3            6  1438 -6.268917  106.779552
20159  2022      3            6  1439 -6.268917  106.779552

[20160 rows x 6 columns]

## Splitting

In [5]:
def split_data(data, train_split, test_split):
    """Split data to train, valid, and test data"""
    # Split train_valid data and test data
    test_len = test_split
    if type(test_split)==float:
        test_len = int(test_len * len(data))
    train_val_data, test_data = data[:-test_len], data[-test_len:]
    
    # Split train data and valid data
    train_len = int(len(train_val_data) * train_split)
    train_data, valid_data = train_val_data[:train_len], train_val_data[train_len:]
    
    return train_data, valid_data, test_data

train_data, valid_data, test_data = split_data(data, train_split, test_split)

print("Dataset Shape")
print(f'Train : {train_data.shape}')
print(f'Valid : {valid_data.shape}')
print(f'Test  : {test_data.shape}')

Dataset Shape
Train : (16329, 6)
Valid : (1815, 6)
Test  : (2016, 6)

## Windowing

In [6]:
def windowed_dataset(data, steps_size, predicts_size, batch_size, shuffle_buffer):
    """Create windowed dataset"""
    # Converting to tfds
    wds = tf.data.Dataset.from_tensor_slices(data)
    
    # Data shifting
    wds = wds.window(steps_size+predicts_size, shift=predicts_size, drop_remainder=True)
    
    # Flatten windows
    wds = wds.flat_map(lambda window : window.batch(steps_size+predicts_size))
    
    # Create window tuples
    wds = wds.map(lambda window: (window[:-predicts_size], window[-predicts_size:, -num_of_labels:]))

    # Shuffle windows
    wds = wds.shuffle(shuffle_buffer)
    
    # Batch windows
    wds = wds.batch(batch_size).prefetch(1)
    
    return wds

wds = windowed_dataset(data, steps_size, predicts_size, batch_size, shuffle_buffer_size)
for idx,(x,y) in enumerate(wds):
    print("x = ", x.numpy().shape)
    print("y = ", y.numpy().shape)
    break

x =  (32, 15, 6)
y =  (32, 1, 2)

In [7]:
train_wds = windowed_dataset(train_data, steps_size, predicts_size, batch_size, shuffle_buffer_size)
valid_wds = windowed_dataset(valid_data, steps_size, predicts_size, batch_size, shuffle_buffer_size)
test_wds = windowed_dataset(test_data, steps_size, predicts_size, batch_size, shuffle_buffer_size)

# Model

In [8]:
def create_model():
    """Create Forecasting Model
    Model used: LSTM
    output should consist of 2 item, latitude and longitude
    """
    tf.keras.backend.clear_session()
    # Generating model
    model = tf.keras.models.Sequential([
        tf.keras.layers.LSTM(64, activation='sigmoid', input_shape=(steps_size, num_of_features), return_sequences=True),
        tf.keras.layers.Dropout(0.2),
        tf.keras.layers.LSTM(32, activation='sigmoid', return_sequences=True),
        tf.keras.layers.Dropout(0.2),
        tf.keras.layers.LSTM(16, activation='sigmoid'),
        tf.keras.layers.Flatten(),
        tf.keras.layers.Dense(16, activation='sigmoid'),
        tf.keras.layers.Dropout(0.2),
        tf.keras.layers.Dense(8, activation='sigmoid'),
        tf.keras.layers.Dropout(0.2),
        tf.keras.layers.Dense(num_of_labels, activation='linear')
    ])

    # Compiling model
    model.compile(
        loss=loss,
        optimizer=optimizer,
        metrics=metrics,
    )
    
    return model
model = create_model()
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 15, 64)            18176

 dropout (Dropout)           (None, 15, 64)            0

 lstm_1 (LSTM)               (None, 15, 32)            12416

 dropout_1 (Dropout)         (None, 15, 32)            0

 lstm_2 (LSTM)               (None, 16)                3136

 flatten (Flatten)           (None, 16)                0

 dense (Dense)               (None, 16)                272

 dropout_2 (Dropout)         (None, 16)                0

 dense_1 (Dense)             (None, 8)                 136

 dropout_3 (Dropout)         (None, 8)                 0

 dense_2 (Dense)             (None, 2)                 18

=================================================================
Total params: 34,154
Trainable params: 34,154
Non-trainable params: 0
_________________________________________________________________

In [9]:
model.fit(train_wds, epochs=20, validation_data=valid_wds)

Epoch 1/20
510/510 [==============================] - 13s 19ms/step - loss: 16.6775 - mae: 17.0418 - mse: 1049.8585 - val_loss: 3.0305 - val_mae: 3.3107 - val_mse: 21.5103
Epoch 2/20
510/510 [==============================] - 9s 17ms/step - loss: 5.9248 - mae: 6.1681 - mse: 134.4143 - val_loss: 2.8931 - val_mae: 3.1591 - val_mse: 19.7530
Epoch 3/20
510/510 [==============================] - 9s 17ms/step - loss: 5.4473 - mae: 5.6873 - mse: 113.8642 - val_loss: 2.5971 - val_mae: 2.8615 - val_mse: 16.2080
Epoch 4/20
510/510 [==============================] - 9s 17ms/step - loss: 4.6977 - mae: 4.9336 - mse: 86.5591 - val_loss: 2.5773 - val_mae: 2.8420 - val_mse: 15.9828
Epoch 5/20
510/510 [==============================] - 9s 17ms/step - loss: 3.9770 - mae: 4.2141 - mse: 63.4087 - val_loss: 1.7403 - val_mae: 2.0052 - val_mse: 7.9195
Epoch 6/20
510/510 [==============================] - 9s 17ms/step - loss: 3.1584 - mae: 3.3969 - mse: 40.7567 - val_loss: 1.2266 - val_mae: 1.4933 - val_mse: 4.3581
Epoch 7/20
510/510 [==============================] - 9s 17ms/step - loss: 2.2882 - mae: 2.5215 - mse: 22.3851 - val_loss: 0.9374 - val_mae: 1.2030 - val_mse: 2.8183
Epoch 8/20
510/510 [==============================] - 9s 17ms/step - loss: 1.3926 - mae: 1.6299 - mse: 9.0533 - val_loss: 0.3288 - val_mae: 0.5933 - val_mse: 0.6699
Epoch 9/20
510/510 [==============================] - 9s 17ms/step - loss: 0.4986 - mae: 0.7205 - mse: 1.8092 - val_loss: 0.0015 - val_mae: 0.0475 - val_mse: 0.0030
Epoch 10/20
510/510 [==============================] - 9s 17ms/step - loss: 0.0168 - mae: 0.0840 - mse: 0.0345 - val_loss: 6.4314e-04 - val_mae: 0.0238 - val_mse: 0.0013
Epoch 11/20
510/510 [==============================] - 9s 17ms/step - loss: 1.7280e-04 - mae: 0.0128 - mse: 3.4563e-04 - val_loss: 5.9130e-04 - val_mae: 0.0254 - val_mse: 0.0012
Epoch 12/20
510/510 [==============================] - 9s 17ms/step - loss: 1.9196e-04 - mae: 0.0127 - mse: 3.8375e-04 - val_loss: 6.8961e-04 - val_mae: 0.0292 - val_mse: 0.0014
Epoch 13/20
510/510 [==============================] - 9s 17ms/step - loss: 2.5453e-04 - mae: 0.0135 - mse: 5.0907e-04 - val_loss: 6.7760e-04 - val_mae: 0.0284 - val_mse: 0.0014
Epoch 14/20
510/510 [==============================] - 9s 18ms/step - loss: 2.1320e-04 - mae: 0.0133 - mse: 4.2649e-04 - val_loss: 5.4305e-04 - val_mae: 0.0233 - val_mse: 0.0011
Epoch 15/20
510/510 [==============================] - 9s 17ms/step - loss: 1.8255e-04 - mae: 0.0123 - mse: 3.6510e-04 - val_loss: 5.2082e-04 - val_mae: 0.0224 - val_mse: 0.0010
Epoch 16/20
510/510 [==============================] - 9s 18ms/step - loss: 1.0356e-04 - mae: 0.0093 - mse: 2.0705e-04 - val_loss: 5.0989e-04 - val_mae: 0.0222 - val_mse: 0.0010
Epoch 17/20
510/510 [==============================] - 9s 17ms/step - loss: 1.8045e-04 - mae: 0.0118 - mse: 3.6094e-04 - val_loss: 6.3296e-04 - val_mae: 0.0235 - val_mse: 0.0013
Epoch 18/20
510/510 [==============================] - 9s 17ms/step - loss: 1.7414e-04 - mae: 0.0123 - mse: 3.4829e-04 - val_loss: 5.8934e-04 - val_mae: 0.0236 - val_mse: 0.0012
Epoch 19/20
510/510 [==============================] - 9s 18ms/step - loss: 2.0986e-04 - mae: 0.0128 - mse: 4.1977e-04 - val_loss: 5.3747e-04 - val_mae: 0.0224 - val_mse: 0.0011
Epoch 20/20
510/510 [==============================] - 9s 18ms/step - loss: 1.7691e-04 - mae: 0.0136 - mse: 3.5366e-04 - val_loss: 5.0522e-04 - val_mae: 0.0224 - val_mse: 0.0010

In [10]:
model.evaluate(test_wds)

63/63 [==============================] - 0s 6ms/step - loss: 0.0010 - mae: 0.0347 - mse: 0.0020

[0.0010115245822817087, 0.03474188596010208, 0.0020246715284883976]

# References

- [Sequences, Time Series and Prediction by DeepLearning.AI](https://www.coursera.org/learn/tensorflow-sequences-time-series-and-prediction)
- [Multi-Variate Time Series Forecasting Tensorflow by Nicholas Jhana](https://www.kaggle.com/code/nicholasjhana/multi-variate-time-series-forecasting-tensorflow/notebook#Visualizing-Predictions)